/* Variables */
:root{
    --white: #ffffff;
    --dark: #111111;
    --bg-dark: #5C5C5C;
    --yellow: #FFD401;
    --main-gray: #727272;
    --gray: #3F3D34;

    --title-h1: 383px;
    --title-h2: 170px;
    --title-h3: 128px;
    --title-h4: 80px;
    --title-h5: 70px;
    --title-main: 60px;
    --title-small: 40px;
    --title-big-unisans: 48px;
    --title-small: 32px;

    --subtitle: 20px;
    --subtitle-big: 30px;

    --main-text: 24px;
    --menu-footer-text: 11px;
    --reviews-text: 14px;
    --small-text: 22px;
    --shop-text: 16px;
    --form-text: 12px;
}

/* Fonts */
@font-face {
    font-family: 'gropledbold';
    src: url('../fonts/gropled-bold-webfont.woff2') format('woff2'),
         url('../fonts/gropled-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'uni_sansbold';
    src: url('../fonts/unisansbold-webfont.woff2') format('woff2'),
         url('../fonts/unisansbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'uni_sansbook';
    src: url('../fonts/unisansbook-webfont.woff2') format('woff2'),
         url('../fonts/unisansbook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'uni_sans_regularregular';
    src: url('../fonts/unisansregular-webfont.woff2') format('woff2'),
         url('../fonts/unisansregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'uni_sanssemibold';
    src: url('../fonts/unisanssemibold-webfont.woff2') format('woff2'),
         url('../fonts/unisanssemibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Reset styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
button {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Common styles */
html {
    scroll-behavior: smooth;
}
body {
    color: var(--white);
    font-size: var(--main-text);
    font-family: 'uni_sans_regularregular';
    max-width: 100%;
    background-color: var(--dark);
}
.wrapper {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.main-title {
    font-family: 'gropledbold';
    font-size: var(--title-main);
}
.button {
    color: var(--dark);
    background-color: var(--yellow);
    font-size: 24px;
    font-family: 'uni_sanssemibold';
    border-radius: 10px;
    padding: 14px 10px;
    text-align: center;
    line-height: 33px;
    transition: all .3s linear;
}
.button_yellow:hover {
    color: var(--yellow);
    background-color: var(--dark);
}
.button_dark {
    color: var(--yellow);
    background-color: var(--dark);
}
.button_dark:hover {
    opacity: .8;
    transform: scale(.95);
}
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

/* Header styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 75px 10px;
}
.header__image {
    flex: 1;
}
.header__logo {
    width: 81px;
    height: 28px;
}
.navigation {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}
.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 130px;
}
.nav-list__link {
    color: var(--white);
    transition: all .3s linear;
}
.nav-list__link:hover {
    color: var(--yellow);
}
.header__phone {
    color: var(--yellow);
    font-family: 'uni_sansbold';
}
.header__phone:hover {
    text-decoration: underline;
}

/* burger */
.burger {
    display: none;
    flex-direction: column;
    align-items: flex-end;
}
.burger__line {
    width: 24px;
    height: 2px;
    background-color: var(--yellow);
}
.burger__line_second {
    width: 30px;
    margin: 2px 0;
}

/* Hero styles */
.hero {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin-bottom: 30px;
}
.hero-info {
    background-color: var(--yellow);
    border-radius: 20px;
    padding: 80px 160px 50px 50px;
    color: var(--dark);
}
.hero-info__title {
    margin-bottom: 20px;
}
.hero-info__text {
    font-size: var(--small-text);
    margin-bottom: 50px;
}
.hero__image {
    border-radius: 20px;
}
.hero-info_button {
    width: 240px;
}

/* Slider services */
.main-slider {
    margin-bottom: 30px;
}
.main-slider__inner {
    margin: 0 -15px;
}
.main-slider__slide {
    position: relative;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 350px 50px 50px 50px;
    z-index: 1;
}
.main-slider__slide::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0),rgb(34, 34, 34) 100%);
    z-index: -1;
    border-radius: 20px;
}
.main-slider__slide_first {
    background-image: url(../images/home-page/slide.jpg);
}
.main-slider__slide_second {
    background-image: url(../images/home-page/slide.jpg);
}
.main-slider__slide_third {
    background-image: url(../images/home-page/slide.jpg);
}
.main-slider__slide_first-design {
    background-image: url(../images/design/slide.jpg);
}
.main-slider__slide_second-design {
    background-image: url(../images/design/slide.jpg);
}
.main-slider__slide_third-design {
    background-image: url(../images/design/slide.jpg);
}
.slick-main {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--yellow);
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    z-index: 2;
}
.slick-main_prev {
    left: 50px;
    background-image: url(../images/icons/arr-left.svg);
}
.slick-main_next {
    right: 50px;
    background-image: url(../images/icons/arr-right.svg);
}

/* First Pages Link */
.first-pages-links {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin-bottom: 30px;
}
.page-link__title {
    font-size: var(--title-h2);
    color: var(--yellow);
    font-family: 'gropledbold';
    line-height: 70%;
}
.page-link__span {
    display: block;
}
.page-link {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex: 1;
    padding: 160px 50px 50px 50px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}
.page-link::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0),rgb(34, 34, 34) 100%);
    z-index: -1;
    border-radius: 20px;
}
.page-link_first {
    background-image: url(../images/home-page/link-img-1.jpg);
}
.page-link_second {
    background-image: url(../images/home-page/link-img-2.jpg);
}
.page-link__link {
    width: 190px;
}

/* About styles */
.about-info {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/home-page/about-img.jpg);
    border-radius: 20px;
    padding: 240px 205px 50px 50px;
    margin-bottom: 30px;
    font-family: 'uni_sansbold';
    font-size: var(--small-text);
    z-index: 1;
}
.about-info::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0),rgb(246, 209, 11) 100%);
    z-index: -1;
    border-radius: 20px;
}
.about-info__title {
    margin-bottom: 40px;
}
.about-slider {
    margin-bottom: 30px;
}
.about-slider__inner {
    margin: 0 -15px;
}
.about-slider__slide {
    position: relative;
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    padding: 270px 50px 50px 50px;
    min-height: 440px !important;
    z-index: 1;
}
.about-slider__slide::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0),rgb(34, 34, 34) 100%);
    z-index: -1;
    border-radius: 20px;
}
.about-slider__slide_first {
    background-image: url(../images/home-page/about-slide-1.jpg);
}
.about-slider__slide_second {
    background-image: url(../images/home-page/about-slide-2.jpg);
}
.about-slider__slide_third {
    background-image: url(../images/home-page/about-slide-3.jpg);
}
.about-slider__slide_fourth {
    background-image: url(../images/home-page/about-slide-2.jpg);
}
.about-slider__text {
    margin-bottom: 15px;
}
.about-slider__link {
    font-size: var(--shop-text);
    color: var(--yellow);
}
.about-slider__link:hover {
    text-decoration: underline;
}

/* Reviews styles */
.reviews {
    margin-bottom: 40px;
}
.review {
    display: flex;
    column-gap: 30px;
    margin-bottom: 30px;
    border: 1px solid rgb(255, 212, 1);
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 50px;
    font-size: var(--reviews-text);
}
.review__image {
    width: 95px;
    height: 95px;
    object-fit: cover;
    border-radius: 50%;
}
.review-info__title {
    font-family: 'uni_sanssemibold';
    font-size: var(--subtitle);
    margin-bottom: 10px;
}
.review-info__text {
    margin-bottom: 15px;
}
.review-info__link {
    color: var(--yellow);
}
.review-info__link:hover {
    text-decoration: underline;
}
.reviews-slider {
    margin: 0 -15px;
}
.reviews-slider__dots li.slick-active button:before {
    opacity: 1 !important;
    color: var(--yellow) !important;
}
.reviews-slider__dots li button:before {
    font-size: 15px !important;
    opacity: 1 !important;
    color: var(--white) !important;
}

/* Application and form styles */
.application {
    display: flex;
    background: var(--yellow) url(../images/home-page/form-img.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom right -30px;
    border-radius: 20px;
    padding: 110px 50px 60px 50px;
    margin-bottom: 60px;
}
.application-info {
    max-width: 290px;
    margin-right: 40px;
    color: var(--dark);
}
.application-info__title {
    font-family: 'uni_sansbold';
    font-size: var(--title-small);
    margin-bottom: 50px;
    text-transform: uppercase;
}
.form {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    max-width: 380px;
}
.form__field {
    height: 55px;
    border: 1px solid rgb(17, 17, 17);
    border-radius: 20px;
    font-size: var(--reviews-text);
    font-family: 'uni_sans_regularregular';
    padding: 0 38px;
    background-color: var(--yellow);
    color: var(--dark);
    outline: none;
}
.form__field::placeholder {
    color: var(--dark);
}
.button_form {
    border-radius: 20px;
    font-family: 'uni_sansbold';
    font-size: var(--reviews-text);
}
.form__acceptance {
    color: var(--dark);
    font-size: var(--form-text);
    text-align: center;
}
.form__link {
    color: var(--dark);
    font-family: 'uni_sansbold';
}

/* Footer styles */
.footer {
    display: flex;
    column-gap: 65px;
    color: var(--main-gray);
    font-size: var(--menu-footer-text);
    padding-bottom: 100px;
}
.footer-info__logo {
    margin-bottom: 50px;
}
.footer-info__list {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 10px;
}
.footer-info__ico {
    width: 17px;
    height: 17px;
    transition: all .3s linear;
}
.footer-info__ico:hover {
    transform: scale(0.8);
}
.footer-info__privacy {
    display: block;
    color: var(--main-gray);
    margin-bottom: 5px;
}
.footer__inner {
    display: flex;
    column-gap: 145px;
}
.footer-menu__title {
    color: var(--white);
    font-family: 'uni_sansbold';
    margin-bottom: 10px;
}
.footer-menu__item {
    margin-bottom: 10px;
}
.footer-menu__item:last-child {
    margin-bottom: 0;
}
.footer-menu__link {
    color: var(--main-gray);
}